%h1 Listing posts
%table
  %tr
    %th= Post.human_attribute_name :name
    %th= Post.human_attribute_name :message
    %th{colspan: 3}
  - @posts.each do |post|
    %tr
      %td= post.name
      %td= post.message
      - if can? :read, @post
        %td= link_to 'Show', post
      - if can? :update, @post
        %td= link_to 'Edit', edit_post_path(post)
      - if can? :destroy, @post
        %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
%br/
- if can? :create, Post
  = link_to 'New Post', new_post_path
